.page-sign
    position: relative
    top: 50%
    min-width: 18rem
    max-width: 30rem
    margin: 0 auto
    transform: translateY(-50%)

    &__well
        margin: 0 1rem

    &__title
        margin: 0 0 1rem
