.page-entry
    position: absolute
    top: 50%
    left: 0
    right: 0
    transform: translateY(-50%)
    text-align: center

    &__icon
        display: block
        margin: 0 0 2rem
        font-size: 10rem

    &__button
        min-width: 8rem
        margin: 0 .5rem
